App17/App17/Web References/com.somee.pruebaserviciowen/WebServiceGonza.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGonzaSoap">
    <wsdl:operation name="InsertarUsuario">
      <wsdl:input message="tns:InsertarUsuarioSoapIn" />
      <wsdl:output message="tns:InsertarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGonzaSoap" type="tns:WebServiceGonzaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGonzaSoap12" type="tns:WebServiceGonzaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/InsertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGonza">
    <wsdl:port name="WebServiceGonzaSoap" binding="tns:WebServiceGonzaSoap">
      <soap:address location="http://pruebaserviciowen.somee.com/WebServiceGonza.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGonzaSoap12" binding="tns:WebServiceGonzaSoap12">
      <soap12:address location="http://pruebaserviciowen.somee.com/WebServiceGonza.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>